<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="RESTaurant Application">

	<title>RESTaurant</title>
	
	<!-- external CSS link -->
	<link rel="stylesheet" href="/public/stylesheets/normalize.css">
	<link rel="stylesheet" href="/public/stylesheets/style.css">
</head>
<body>
	<div class="container">
		<header>
			<h1>Dine Easy</h1>
			<h2>Restaurant App</h2>
		</header>
	<div>

	<header>
		
		<nav>
			<ul>
				<li><a href="/foods">Foods</a></li>
				<li><a href="/parties">Parties</a></li>
			</ul>
		</nav>
	</header>
    
    <%= yield %>

</body>
</html>