<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>RESTaurant</title>
</head>
<body>

	<header>
		<h1>Restaurant App</h1>
		<nav>
			<ul>
				<li><a href="/foods">Foods</a></li>
				<li><a href="/parties">Parties</a></li>
			</ul>
		</nav>
	</header>
    
    <%= yield %>

</body>
</html>