<div class="container">
<h2>Foods</h2>
   <div class="left">
  <ul>
    <% @foods.each do |food|%>
      <li>
        <a href="/foods/<%= food.id %>/edit">
          <%= food.name %> 
        </a>
        <ul>
          <li><%= food.description %></li>
          <li>$<%= food.price %></li>
        </ul>   
      </li>
    <% end %>
  </ul>
    <br>
    <br>
    <a href="/foods/new"><button type="button" class="btn btn-primary">Add new</button></a><br />
</div>
  <div class="right">
    <img src="/images/4-lulu-po.jpg" class="img-responsive" alt="Responsive image"><br>
    <img src="/images/5-lulu-po.jpg" class="img-responsive" alt="Responsive image"><br>
    <img src="/images/image7.jpg" class="img-responsive" alt="Responsive image">
  </div>
  </div>
</div>