<div class="content">
	<h2>Parties</h2>
	<ul>
		<% @parties.each do |party| %>
		<li>
			<a href="/parties/<%= party.id %>"> Table <%= party.table_num %> -- guests: <%= party.guests %> </a><br>
		</li>
		<% end %>
		</ul>
		<center><a href="parties/new"><button type="button" class="btn btn-primary">Add new party</button></a></center>
	</div>
</div>

