<h2>&nbsp;&nbsp;Parties</h2>

<div class="container">

	<div class="right">
		<img src="/images/lulupointerior.jpg" class="img-responsive" alt="Responsive image">
	</div>

   <div class="left">
	<ul>
		<% @parties.each do |party| %>
		<li>
			<a href="/parties/<%= party.id %>"> Table <%= party.table_num %> -- guests: <%= party.guests %> </a><br>
		</li>
		<% end %>
		<br>
		<br>
		<a href="parties/new"><button type="button" class="btn btn-primary" text-align="right">Add new party</button></a><br />
</div>
	</ul>
	</div>
</div>

