<h2>&nbsp;&nbsp;Edit order</h2>

<div class="container">

	<div class="right">
		<img src="/images/lulupointerior.jpg" class="img-responsive" alt="Responsive image">
	</div>

   <div class="left">
	<form action="/parties" method="post">
	<label>Party Guest Count:</label>
	<input type="number" id="party_guests" name="party[guests]" /><br />

	<label>Party Table Number:</label>
	<input type="number" id="party_table_num" name="party[table_num]" /><br />

	<input type="submit" value="Add party" class="btn btn-primary">
</form>

	</div>
</div>